---
import {getCollection} from 'astro:content'

import Layout from '../../../layouts/Layout.astro'
import Card from '../../../components/Card.astro'

export async function getStaticPaths() {
    const posts = await getCollection('dialogues')
    return posts.map(post => post.data.tags)
        .flat()
        .filter((tag, index, self) => self.indexOf(tag) === index)
        .map(tag => ({
            params: {tag},
        }))
}

const {tag} = Astro.params

const posts = await getCollection('dialogues')
const sortedPosts = posts
    .filter(p => p.data.tags.includes(tag))
    .sort((a, b) => {
        if (a.slug === 'introduction') {
            return -1
        }
        if (b.slug === 'introduction') {
            return 1
        }
        return +new Date(b.data.createdDate) - +new Date(a.data.createdDate)
    })
---


<Layout title={`Dialogues about ${tag}`}>
    <main>
        <h1>Dialogues about {tag}</h1>
        <ul>
            {
                sortedPosts.map((p) => {
                    return (
                            <Card baseURL="/dialogues" slug={p.slug} title={p.data.title} date={p.data.createdDate}
                                  tags={p.data.tags}/>
                    )
                })
            }
        </ul>
    </main>
</Layout>

<style>
    main {
        margin: auto;
        padding: 1rem;
        width: 800px;
        max-width: calc(100% - 2rem);
        color: var(--text);
        font-size: 1.5rem;
        line-height: 1.6;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }
</style>
