---
import {getCollection} from 'astro:content'

import Layout from '../../layouts/Layout.astro'
import Card from '../../components/Card.astro'
import {getRecipes} from '../../utils/collections.ts'

const posts = await getRecipes()
const sortedPosts = posts
    .sort((a, b) => a.name.localeCompare(b.name))
---

<Layout title="Recipes">
    <main>
        <h1>Recipes</h1>
        <ul>
            {
                sortedPosts.map(async (p) => {
                    const tags = Array.from(await p.getTags())
                    tags.sort()
                    return (
		    	<Card baseURL="/r" slug={p.slug} title={p.name} date={p.createdAt} tags={tags}/>
                    )
                })
            }
        </ul>
    </main>
</Layout>

<style>
    main {
        margin: auto;
        padding: 1rem;
        width: 800px;
        max-width: calc(100% - 2rem);
        color: var(--text);
        font-size: 1.5rem;
        line-height: 1.6;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }
</style>
